
a{
    text-decoration: none;
    cursor: auto;
    color: #000;
}
a.hover{
    text-decoration: underline;
}
body{
    background: #eee;
    font: 14px/1.6em "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
div{
    display: block;
}
#header h1{
    margin: 0;
    text-align: center;
    padding: 50px 0;
}
#header{
    position: relative;
    top: 0;
    border: 0;
    padding: 0 30px;
    margin: 0;
}
.inner{
    background: #fff;
    padding: 20px;
    margin: 40px 5%;
    box-shadow: 1px 2px 3px #ddd;
}

.container {

}

p#ex-msg {
    margin-bottom: 0px !important;
}

.dline{
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}
.dline::before,.dline::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: #ccc;
    top: 50%;
}
.dline::before{
    margin-left: -10px;
    transform: translateX(-100%);
}
.dline::after{
    margin-left: 10px;
}
.sign{
    float:right;
    text-align:center;
    color: #999;
    font-size: 14px;
}

i{
    position: fixed;/*固定位置*/
    z-index:99;/*设置优先级显示，保证不会被覆盖*/
    right:10%; bottom:100px;
}