<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}题目列表{% endblock %}</title>

    <link href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 必须在引入bootstarp.js之前引入 -->
    <script src="/static/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/jquery.countdown.js"></script>
    <!--时间js-->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />

    <link href="/static/css/test.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

    {% block css %}
    {% endblock %}

</head>
<body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a id="m1" class="nav-link active" href="{% url 'qlist' %}">题目列表</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">用户管理</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" id="slogin" data-toggle="modal" data-target="#myModal">学生登陆</a>
              <a class="dropdown-item" href="/admin/">后台管理</a>
              <a class="dropdown-item" href="/logout/">登出</a>
          </div>
        </li>
        <li class="nav-item">
          <a id="m2" class="nav-link" href="{% url 'user' %}">个人中心</a>
        </li>
          <li class="nav-item">
              <form method="get" action="/search/">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">题目</span>
                      </div>
                      <input type="text" class="form-control" placeholder="请输入关键字" name="ss">

                      <div class="input-group-prepend">
                        <span class="input-group-text">标签</span>
                      </div>
                      <select class="form-control" id="sel1" name = "sc">
                        <option>ALL</option>
                          {% for t in tlist %}
                            <option>{{ t.category }}</option>
                          {% endfor %}
                      </select>
                      <button type="submit" class="btn btn-outline-info">搜索</button>
                  </div>
              </form>
          </li>
      </ul>
    </div>



    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
       <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
         <div class="modal-header">
          <i class="fa fa-laptop modal-icon"></i>
          <h4 class="modal-title">用户登录</h4>
         </div>
          <form method="post" action="/login/">
              {% csrf_token %}
              <small class="font-bold">
                  <div class="modal-body">
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">用户名</span>
                          </div>
                          <input type="text" class="form-control" placeholder="" name="username" required>
                          <div class="input-group-prepend">
                            <span class="input-group-text">密码</span>
                          </div>
                          <input type="text" class="form-control" placeholder="" name="password" required>
                      </div>
                  </div>
                  <div class="modal-footer">
                   <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                   <button type="submit" class="btn btn-primary">登录</button>
                  </div>
              </small>
          </form>
        </div>
        <small class="font-bold"> </small>
       </div>
       <small class="font-bold"> </small>
      </div>

    {% block content %}
    {% endblock %}

</body>
<script>
    {% block script %}
    {% endblock %}
</script>


