{% extends 'base.html' %}
{% block title %}
    T{{ q.id }}
{% endblock %}
{% block content %}
    <h1>T{{ q.id }}</h1>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">题目</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">讨论</a>
        </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="content">
                <div class="inner">
                    <h2>{{ q.title }}</h2>
                    <div class="main">
                    <div class="test_content_nr_main">
                        <ul>
                            <li class="option">
                                    <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                                    value="A"/>
                                <label>A.
                                    <p class="ue" style="display: inline;">{{ q.optionA }}</p>
                                </label>
                            </li>

                            <li class="option">
                                    <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                                    value="B"/>
                                <label>
                                    B.<p class="ue" style="display: inline;">{{ q.optionB }}</p>
                                </label>
                            </li>

                            <li class="option">
                                    <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                                    value="C"/>
                                <label>
                                    C.<p class="ue" style="display: inline;">{{ q.optionC }}</p>
                                </label>
                            </li>

                            <li class="option">
                                    <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                                    value="D"/>
                                <label>
                                    D.<p class="ue" style="display: inline;">{{ q.optionD }}</p>
                                </label>
                            </li>
                        </ul>
                    </div>
                        <div class="submit_bottom" id="s1"><button type="submit" class="btn btn-primary">Submit</button></div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="inner" style="display:none">
                    <p id="result"></p>
                    <div class="submit_bottom" id="s2"><button type="submit" class="btn btn-primary">查看答案</button></div>
                    <br/> <div id="answer" style="display:none"><p>正确答案：{{ q.answer }}</p></div>
                </div>
            </div>

        </div>

        <div id="menu1" class="container tab-pane fade"><br>
            <a href="#" ><div class="submit_bottom" id="s2" style="display:inline;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#w1" >发布讨论</button></div></a>
            <a href="{% url 'my_dis' q.id %}" ><div class="submit_bottom" id="s3" style="display:inline;"><button type="button" class="btn btn-primary" >查看我发布的讨论</button></div></a>

            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#solved">已解决</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#unsolved">未解决</a>
            </li>
            </ul>
            <div class="tab-content">
                <div id="solved" class="container tab-pane active">
                    <div class="content">
                        {% for sd in s_dlist %}
                            <div class="inner">
                                <h2><a href="{% url 'ds' q.id sd.id %}">{{ sd.title }}</a></h2>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="unsolved" class="container tab-pane fade">
                    <div class="content">
                        {% for und in un_dlist %}
                            <div class="inner">
                                <h2><a href="{% url 'ds' q.id und.id %}">{{ und.title }}</a></h2>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- 模态框 -->
          <div class="modal fade" id="w1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">发布讨论</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <!-- 模态框主体 -->
                  <div class="modal-body">

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">概要</span>
                      </div>
                      <input type="text" class="form-control" placeholder="" id="title" name="title">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">详细内容</span>
                        </div>
                      <input type="text" class="form-control" placeholder="" id="detail" name="detail">
                    </div>

                  </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="d_sub">Submit</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

              </div>
            </div>
          </div>

        </div>
    </div>

{% endblock %}

{% block script %}
     $(document).ready(function(e) {
         $("#s1").click(function(e) {
             var s = $('input:radio[name="{{ q.id }}"]:checked').val();
             if(s == null) {
                 $("#result").html("你还没有选择，请选择一个答案再提交");
             }
             else {
                 if(s == "{{ q.answer }}")
                     $("#result").html("回答正确！");
                 else
                     $("#result").html("回答错误！");
             }
             $(".inner").show().addClass("show");
         });

         $("#s2").click(function(e) {
             $("#answer").show().addClass("show");
         });
     　});


    $(function(){
        $('#d_sub').on('click', function(){
            var name = $("#js-name").val()
            var content = $("#js-content").val()

            $.ajax({
                cache: false,
                type: "POST",
                url:"/add_dis/",
                data:{'title': $("#title").val(), 'detail': $("#detail").val(), 'qid': {{ q.id }}},
                dateType:"json",
                async: true,
                beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                success: function(data) {
                    if(data.status == 'success'){
                        alert("提交成功");
                         window.location.reload();//刷新当前页面.
                    }else if(data.status == 'fail'){
{#                        $('#jsCompanyTips').html(data.msg)#}
                        alert("未登录，请登录后重试发布");
                    }
                },
            });
        });
    })


{% endblock %}

