<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>题目列表</title>

    <link href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 必须在引入bootstarp.js之前引入 -->
    <script src="/static/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/jquery.countdown.js"></script>
    <!--时间js-->
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />

    <link href="/static/css/test.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'qlist' %}">题目列表</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">用户管理</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./admin">后台管理</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">搜素</a>
        </li>
      </ul>
    </div>
    <br />
    <h1>T{{ q.id }}</h1>

    <div id="content">
        <div class="inner">
            <h2>{{ q.title }}</h2>
            <div class="main">
            <div class="test_content_nr_main">
                <ul>
                    <li class="option">
                            <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                            value="A"/>
                        <label>A.
                            <p class="ue" style="display: inline;">{{ q.optionA }}</p>
                        </label>
                    </li>

                    <li class="option">
                            <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                            value="B"/>
                        <label>
                            B.<p class="ue" style="display: inline;">{{ q.optionB }}</p>
                        </label>
                    </li>

                    <li class="option">
                            <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                            value="C"/>
                        <label>
                            C.<p class="ue" style="display: inline;">{{ q.optionC }}</p>
                        </label>
                    </li>

                    <li class="option">
                            <input type="radio" class="radioOrCheck" name="{{ q.id }}"
                            value="D"/>
                        <label>
                            D.<p class="ue" style="display: inline;">{{ q.optionD }}</p>
                        </label>
                    </li>
                </ul>
            </div>
                <div class="submit_bottom" id="s1"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="inner" style="display:none">
            <p id="result"></p>
            <div class="submit_bottom" id="s2"><button type="submit" class="btn btn-primary">查看答案</button></div>
            <br/> <div id="answer" style="display:none"><p>正确答案：{{ q.answer }}</p></div>
        </div>
    </div>
</body>

<script>
     $(document).ready(function(e) {
         $("#s1").click(function(e) {
             var s = $('input:radio[name="{{ q.id }}"]:checked').val();
             if(s == null) {
                 $("#result").html("你还没有选择，请选择一个答案再提交");
             }
             else {
                 if(s == "{{ q.answer }}")
                     $("#result").html("回答正确！");
                 else
                     $("#result").html("回答错误！");
             }
             $(".inner").show().addClass("show");
         });

         $("#s2").click(function(e) {
             $("#answer").show().addClass("show");
         });
     　});
</script>


