{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}

{% block content %}
<div class="container">

  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">个人信息</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">考试信息</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">成绩查询</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>个人信息</h3>

        <table class="table">
    <thead>
      <tr>
        <th>属性</th>
        <th>信息</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>学号</td>
        <td>{{ user.id }}</td>

      </tr>
      <tr class="table-primary">
        <td>姓名</td>
        <td>{{ user.name }}</td>

      </tr>
      <tr class="table-danger">
        <td>学院</td>
        <td>{{ user.dept }}</td>

      </tr>

       <tr class="table-success">
        <td>专业</td>
        <td>{{ user.major }}</td>

      </tr>


      <tr class="table-info">
        <td>身份</td>
        <td>{{ user.type }}</td>

      </tr>

    </tbody>
  </table>
    </div>

    <div id="menu1" class="container tab-pane fade"><br>
      <h3>考试信息</h3>
      <p></p>
        <table class="table">
    <thead>
      <tr>
          <th>学号</th>
        <th>姓名</th>
        <th>考试名称</th>
          <th>考试时间</th>
          <th>操作</th>
      </tr>
    </thead>
    <tbody>
    {#   遍历字典  paper #}
    {% for p in plist %}

     <tr class="table-info">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ p.title }}</td>
          <td>{{ p.examtime }}</td>
          <td>
              <a href="{% url 'exam' user.id p.id %}">
              <button class="btn btn-primary" id="toExam+{{ p.id }}">开始考试</button>
             </a>
          </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
    <h3>模拟考试</h3>
    <table class="table">
    <thead>
      <tr>
        <th>考试名称</th>
          <th>生成时间</th>
          <th>操作</th>
      </tr>
    </thead>

    <tbody>
    {#   遍历字典  paper #}
    {% for ap in aplist %}

     <tr class="table-info">
          <td>{{ ap.title }}</td>
          <td>{{ ap.generate_time }}</td>
          <td>
              <a href="{% url 'a_exam' user.id ap.id %}">
              <button class="btn btn-primary" id="toExam+{{ ap.id }}">开始考试</button>
             </a>
              <a href="{% url 'del_ap' ap.id %}">
              <button class="btn btn-primary" id="delExam+{{ ap.id }}">删除考试</button>
             </a>
          </td>
      </tr>
    {% endfor %}
    </tbody>

    </table>
    <button class="btn btn-primary" id="get_auto_exam" data-toggle="modal" data-target="#w1">生成新的模拟考试</button>
    </div>

    <div id="menu2" class="container tab-pane fade"><br>
      <h3>考试成绩</h3>
      <p></p>
        <table class="table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>科目</th>
            <th>成绩</th>
            <th>操作</th>
          </tr>
        </thead>
    <tbody>

    {% for g in glist %}
        <tr class="table-primary">
        <td>{{ g.sid.name }}</td>
        <td>{{ g.pid.title }}</td>
        <td>{{ g.grade }}</td>
        <td>
              <a href="{% url 'answer' g.id  %}">
              <button class="btn btn-primary" id="answer+{{ g.id }}">查看答卷</button>
             </a>

            <a href="{% url 'rewind' g.id  %}" style="display: none" class="rewind_botton">
              <button class="btn btn-primary" id="rewind+{{ g.id }}">审阅答卷</button>
             </a>
        </td>
      </tr>

    {% endfor %}

    </tbody>
  </table>

    <h3>模拟考试答卷</h3>
    <table class="table">
        <thead>
          <tr>
            <th>标题</th>
            <th>成绩</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            {% for g in aglist %}
            <tr class="table-primary">
            <td>{{ g.pid.title }}</td>
            <td>{{ g.grade }}</td>
            <td>
                  <a href="{% url 'a_answer' g.id  %}">
                  <button class="btn btn-primary" id="answer+{{ g.id }}">查看答卷</button>
                 </a>

                <a href="{% url 'del_ag' g.id %}">
                  <button class="btn btn-primary" id="delans+{{ g.id }}">删除答卷</button>
                 </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/user/export/" style="display: none" class="rewind_botton">
        <button class="btn btn-primary" id="export">导出成绩</button>
    </a>

    </div>
  </div>
</div>


 <!-- 模态框 -->
<div class="modal fade" id="w1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <!-- 模态框头部 -->
    <div class="modal-header">
      <h4 class="modal-title">生成新的模拟考试</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>


    <!-- 模态框主体 -->
      <form id="para_p">
      <div class="modal-body">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">标题</span>
          </div>
          <input type="text" class="form-control" placeholder="" id="title" name="title" required>
        </div>

        <div class="input-group mb-3" style="display:none;">
          <div class="input-group-prepend">
            <span class="input-group-text">总分</span>d
          </div>
          <input type="text" class="form-control" placeholder="" id="scores" name="scores" οnkeyup="this.value=this.value.replace(/\D/g,'')" required>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">题目数量</span>
          </div>
          <input type="text" class="form-control" placeholder="" id="sum" name="sum" οnkeyup="this.value=this.value.replace(/\D/g,'')" required>
        </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">标签</span>
        </div>
        <select class="form-control" name = "sc" required>
          {% for t in tlist %}
            <option>{{ t.category }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="button" class="btn btn-primary" id="addform">添加新的标签</button>
      </div>
      </form>

    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="d_sub">Submit</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
    </div>

  </div>
</div>
</div>
{% endblock %}

{% block script %}
    $(document).ready(function(e) {
        if("{{ user.type }}"=="老师")
        {
             $(".rewind_botton").show().addClass("show");
        }
     　});
    var count = 1;
    $("#addform").click(function(){
        count = count + 1;
        //添加的内容
        $add = '<div class="input-group mb-3" id="tag'+count+'">'
                      +'<div class="input-group-prepend">'
                        +'<span class="input-group-text">标签</span>'
                    +'</div>'
                    +'<select class="form-control" name = "sc" required>'
                      +'{% for t in tlist %}'
                        +'<option>{{ t.category }}</option>'
                      +'{% endfor %}'
                    +'</select>'
                    +'<button class="btn btn-primary" id="delform">删除</button>'
                  +'</div>';
        $("#addform").before($add);
        //删除表单
        $('button[id^="delform"]').click(function(){
           if($(this).parent().remove()!=null){}
              //count--;
        });
    });

    $(function(){
        $('#d_sub').on('click', function(){
            var name = $("#js-name").val()
            var content = $("#js-content").val()

            $.ajax({
                cache: false,
                type: "POST",
                url:"/add_autop/",
                data:$("#para_p").serializeArray(),
                dateType:"json",
                async: true,
                beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                success: function(data) {
                    if(data.status == 'success'){
                        alert("提交成功");
                        window.location.href="/user/"
                    }else if(data.status == 'fail'){
{#                        $('#jsCompanyTips').html(data.msg)#}
                        alert("提交失败");
                    }
                },
            });
        });
    });

{% endblock %}
